*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #f3f3f3;
}


aside{
    display: flex;
    flex-flow: column;
    justify-content:flex-start;
    align-items: center;
    width: 200px;
    height: 100vh;
    background-color: rgb(194, 240, 30);
    color: rgb(48, 45, 45);
    
}

.picture-logo{
    
    margin-top: 40px;
}

.link-navigation li{

    margin: 100px;
}

.link-navigation a{
    color: #2b2b2b;
    transition: 0.3s;
}

.link-navigation a:hover{
    color: #2b2bb2;
}

.avatar-pic{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: absolute;
}

.name-avatar{
    margin-top: 10px;
    margin-bottom: 20px;
}

.img{
    width: 50px;
    height: 50px;
    background-color: rgb(214, 123, 4);
    border-radius: 50%;
}