*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    background-color: rgb(216, 214, 214);
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container{
  
    background-color: darkgray;
    border-radius: 4px;
    width: 400px;
    height: max-content;
    text-align: right;
    box-shadow:black 1px 1px 20px 1px;
}

.calculator-nav{
    width: 100%;
    height: 60px;
    background-color: rgb(58, 58, 58);
    border-radius: 4px;
    color: white;
    justify-content: right;
    display: flex;
    align-items: center;
    font-size: calc(1rem * 1.2 * 1.2);
    padding: 20px;
    
}   



.calculator-btn{
    height: 400px;
    border-radius: 4px;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(4, auto);
    grid-template-areas:
      ". . . ."
      "seven eight nine equal"
      "four five six equal"
      "one two three equal"
      "zero decimal clear equal";
}

.calculator-btn > button{
    border: 0;
}



.decimal{
    grid-area: decimal;
    font-size: 20px;
    font-weight: bold;
}

.clear{
    grid-area: clear;
}

.equal{
    grid-area: equal;
}


.equal{
    background-color: tomato;
    font-size: 20px;
    font-weight: bold;
}

.equal:hover{
    background-color: rgb(226, 71, 44);
}

.operator{
    background-color: rgb(199, 199, 199);
    font-weight: bold;
    font-size: 20px;
}



.operator:hover{
    background-color: rgb(95, 95, 95);
}

.number{
    font-size: 20px;
}

.number:hover{
    
    background-color: rgb(199, 198, 198);
}

.decimal:hover{
    background-color: rgb(199, 198, 198);
}

.clear{
    font-size: 20px;
    font-weight: bold;
}

.clear:hover{
    background-color: rgb(199, 198, 198);
}