body {
	font-family: monospace;
}

#expand-toggle {
	display: none;
}

.expandable {
	visibility: collapse;
	background: gray;
	color: white;
}

#expand-btn {
	display: inline-block;
	margin-top: 12px;
	padding: 6px 12px;
	background-color: #ff8888;
	border: 1px solid;
	border-radius: 3px;
	transition: 0.3s;
} 



#expand-toggle:checked +table tbody .expandable{
    visibility: visible;
    

}

#expand-btn:after{
	content: "Mostra righe";
}

#expand-toggle:checked ~ #expand-btn, #expand-toggle:checked ~ #expand-btn:after{
	background-color: rgb(5, 167, 5);
	content: "Nascondi righe";
	color: white;
}